# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
#.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Coverage directory used by tools like jest
coverage/

# nyc test coverage
.nyc_output/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

cucumber_report.html
cucumber_report.json
